footer
  .footer-links
    a(href='/') English
    a(href='/zh-Hans/') 中文简体
    a(href='/zh-Hant/') 中文繁体
  .footer-links
    a(href='https://github.com/PoiScript/poi-cat') Source code is licensed under MIT.
  | Copyright © 2017 Alex Lin.
