- req = require.context("./icons", false, /\.svg$/)

mixin listCard(config, lang)
  .mdc-layout-grid
    .mdc-layout-grid__inner
      each item in config.items
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-4
          .mdc-card(style={ background: item.color })
            !=req(`./${item.icon}.svg`)
            section.mdc-card__primary
              h1.mdc-card__title.mdc-card__title--large= item.value
              h2.mdc-card__subtitle= item.translations[lang]