:root {
  --mdc-theme-primary: rgba(0, 0, 0, 0.2);
  --mdc-theme-text-primary-on-light: white;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
  font-family: "Roboto", "Noto Sans CJK SC", "Noto Sans CJK TC", sans-serif;
}

main {
  margin: auto;
  padding: 10px;
  max-width: 960px;
  flex-shrink: 0;
}

.primary-heading {
  color: black;
  font-size: 4rem;
  font-weight: 300;
  line-height: 4rem;
  letter-spacing: -0.02em;
}

.grid-title {
  color: black;
  font-weight: 300;
  margin-bottom: 0;
  font-size: 2.125rem;
  line-height: 2.5rem;
  letter-spacing: normal;
  text-transform: capitalize;
}

.grid-subtitle {
  color: #999999;
  margin-top: 0;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 4px;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.mdc-layout-grid__cell a {
  text-decoration: none;
}

.mdc-card__primary {
  background: rgba(0, 0, 0, .4);
}

.mdc-card svg {
  width: 100px;
  height: 100px;
  display: inline-block;
  fill: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  margin: calc(50% - 50px) calc(50% - 50px);
}

footer {
  color: #9e9e9e;
  padding: 32px 16px 32px 40px;
  background-color: #424242;
  font-size: 14px;
  line-height: 30px;
}

.footer-links a {
  color: inherit;
  margin-right: 16px;
  margin-bottom: 0;
  text-decoration: none;
}