<!DOCTYPE html>
<html lang={{htmlWebpackPlugin.options.lang}}>
<head>
  <title>PoiScript</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<main class="mdc-layout-grid">
  <h1 class="primary-heading">PoiScript</h1>
  {{#each htmlWebpackPlugin.options.config}}
    {{> Grid lang=../htmlWebpackPlugin.options.lang }}
  {{/each}}
</main>
<footer>
  <div class="footer-content mdc-layout-grid">
    <div class="footer-links">
      <a href="https://poi.cat/">English</a>
      <a href="https://poi.cat/ja">日本語</a>
      <a href="https://poi.cat/zh-Hans/">中文简体</a>
      <a href="https://poi.cat/zh-Hant/">中文繁体</a></div>
    <div class="footer-links">
      <a href="https://github.com/PoiScript/poi-cat">Source code is licensed under MIT.</a>
    </div>
    Copyright © 2017 Alex Lin.
  </div>
</footer>
</body>
</html>